/* Basic Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	/* border: 1px solid black; */
}

/* Google Font */
.poppins {
	font-family: "Poppins", sans-serif;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
	letter-spacing:1px;
}

/* Setting Grid Container */
.container {
	display: grid;
	grid-template-areas:
		"navbar navbar"
		"main main";
	grid-template-rows: 80px calc(100vh - 80px + 250px);
}

/*  - - - - - - - - - - HALAMAN NAVBAR - - - - - - - - - - */
.navbar {
	grid-area: navbar;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background: linear-gradient(90deg, #000000, #666666);
}

.navbar h1 {
	margin-left: 14px;
	font-size: 16px;
	font-weight: 800; /* Extra bold */
	font-style: italic;
	letter-spacing: 4px;
	background: linear-gradient(90deg, #ff0004, #ebff00, #ffaa06);

	/* memastikan bahwa gradasi hanya mempengaruhi area teks. */
	-webkit-background-clip: text;

	/* membuat teks transparan sehingga latar belakang gradien muncul pada teks. */
	-webkit-text-fill-color: transparent;
}

.navbar .menu {
	display: flex;
	gap: 60px;
}

.navbar .menu a {
	display: flex;
	align-items: center;
	height: 60px;
	color: white;
	text-decoration: none;
	padding: 5px 30px;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 600; /* Extra boldv*/
	font-style: italic;
	border-radius: 24px;
}

.navbar .menu a:hover,
.navbar .menu .active {
	background-color: #d9d9d9;
	color: #000000;
}

/*  - - - - - - - - - - HALAMAN MAIN - - - - - - - - - - */

.main {
	grid-area: main;
	background-color: #d9d9d9;
	padding: 40px;
	width: 100vw;
	height: calc(100vh - 50px);
	overflow-y: scroll;

}

.main .scroll {
	overflow-y: scroll;

}

/* .main .card {
	background-color: white;
	padding: 40px 60px;
	border-radius: 15px;
	width: calc(100vw - 20px);
} */

.main .card {
    background-color: white;
    padding: 40px 60px;
    border-radius: 15px;
    width: calc(100vw - 100px); /* Tetap responsif */
    overflow: visible; /* Pastikan konten tidak terpotong */
    display: block; /* Pastikan menggunakan block layout */
	box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4);
}

.main .card .back {
	/* display: relative; */
	position: relative;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 5px 10px;
	border-radius: 10px;
	left: -40px;
	top: -20px;
}

.main .card .back:hover {
	background-color: rgb(220, 220, 220);
	color: rgb(0, 0, 0);
}

.main .card .informasi-blog{
	width: calc(100vw - 20px - 200px);
	margin-top: -40px;
	text-align: center;
	font-size: 19px;
}

.main .card .informasi-blog h4 {
	width: calc(100% - 40px);
	margin-left: 20px;
}

.main .card .informasi-blog img {
	width: 510px;
	height: 370px;
}

.main .card .informasi-blog .penulis-tanggal {
	display: flex;
	font-size: 19px;
}

.main .card .informasi-blog .penulis-tanggal p {
	width: 100%;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
}

.main .card .informasi-blog .penulis-tanggal .sumber {
	text-align: start;
}
.main .card .informasi-blog .penulis-tanggal .tanggal {
	text-align: end;
}

.main .card .informasi-blog .deskripsi {
	text-align: justify;
	font-size: 12px;
}